.accented {
    color: var(--accent);
}

.hero {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 450px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-secondary);
    text-align: center;

    @media only screen and (max-width: 350px) {
        min-block-size: 600px;
    }

    .title {
        margin: 0;
        font-weight: bold;
        font-size: 48px;
    }

    .description {
        font-size: 20px;
        margin: 0;
        max-inline-size: 60ch;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media only screen and (max-width: 420px) {
        flex-direction: column;
    }
}

.cards {
    display: flex;
    padding: 10px;
    flex-direction: column;
    max-inline-size: 1280px;
    margin-inline: auto;

    div:nth-child(2) {
        align-self: flex-end;
        text-align: right;
    }
}
