@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --background-primary: #1b1b1b;
    --background-secondary: #1c1c1c;
    --accent: #ffb4b4;
    --text: #ffffff;
}

html,
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-primary);
    color: var(--text);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}
