---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<style lang="scss">
    .card {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
            max-inline-size: 60ch;
        }
    }
</style>

<div class="card">
    <h1>{title}</h1>
    <p>
        <slot />
    </p>
</div>
